{% extends "layout.twig" %}

{% block content %}
<a href="logout"><span>Salir</span></a>
<br>
<h1><caption>Administración</caption></h1>
    <ul class="list-group">
      <li class="list-group-item"><a href="add/job">Agregar Experiencia</a></li>
      <li class="list-group-item"><a href="add/user">Agregar Usuario</a></li>
    </ul>

{% endblock %}
