{% extends "layout.twig" %}

{% block content %}

		<div class="jumbotron">
			<h1 align="center">Agregar Trabajo</h1>
		</div>
		<div class="alert alert-primary">
			{{ responseMessage }}
		</div>
		<div class="row">
			<div class="col-md-5">
				<form action="save" method="POST">
					<div class="form-group">
						<label for="titulo">Titulo</label>
						<input type="text" name="titulo" class="form-control">
					</div>
					<div class="form-group">
						<label for="descripcion">Descripción</label>
						<textarea name="descripcion" class="form-control">

						</textarea>
					</div>
					<div class="form-group">
						<label for="meses">Meses</label>
						<input type="text" name="meses" class="form-control">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-dark">Guardar</button>
					</div>
				</form>
			</div>
		</div>

{% endblock %}
